#about.origami_container {
	width: 3rem;
	height: 8rem;
}

#about .origami {
	transform: translateY(calc(11rem + 5vh)) rotateX(10deg) rotateY(-30deg) rotateZ(-70deg);
}

#about.is_open .origami{
	transform: translateZ(-25vw);
}
#about .origami_face::before {
	content: "About";
}

#about .origami_face:nth-child(3){
	background-image: url("/media/about/LAFOTO1000.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#about.is_open .origami_face:nth-child(1) {
	transform: rotateY(0deg) translateZ(25vw);
}

#about.is_open .origami_face:nth-child(2) {
	transform: rotateY(120deg) translateZ(25vw);
}

#about.is_open .origami_face:nth-child(3) {
	transform: rotateY(240deg) translateZ(25vw);
}

#about .origami_face:nth-child(1) {
	transform: rotateY(0deg) translateZ(0.8660254rem);
}

#about .origami_face:nth-child(2) {
	transform: rotateY(120deg) translateZ(0.8660254rem);
}

#about .origami_face:nth-child(3) {
	transform: rotateY(240deg) translateZ(0.8660254rem);
}

