* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overscroll-behavior: none;
}

:root {
	--black: #010101;
	--white: #f5f5f5;
}

::selection {
    color: #fff;
    background: var(--accent);
  }
  ::-moz-selection {
    color: #fff;
    background: var(--accent);
  }

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.is_hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
	user-select: none;
}

html, body {
	height: 100%;
	width: 100%;
	color: var(--black);
	font-family: 'Archivo', sans-serif;
	overflow: hidden;
	overscroll-behavior: none;
	background-color: var(--black);
}

#container {
	height: 100%;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.origami_container {
	position: absolute;
	perspective: 40rem;
	perspective-origin: 30% 30%;
	transform: translateY(0);
	transition: .8s;
}

#web.origami_container.is_open,
#illu.origami_container.is_open,
#extra.origami_container.is_open,
#about.origami_container.is_open {
	height: 75%;
	width: 40vw;
	perspective: 300vw;
	perspective-origin: 50% 50%;
	transform: translateY(-2rem);
	transition: .8s;
}

.origami {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: .8s;
	user-select: none;
}

#web.is_open .origami,
#illu.is_open .origami,
#extra.is_open .origami,
#about.is_open .origami {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	user-select: text;
}

.origami_face {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--white);
	cursor: pointer;
	transition: .8s;
}

.origami_face::before {
	content: "";
	opacity: 1;
	line-height: normal;
	font-size: 2rem;
	font-weight: 400;
	color: var(--black);
	transform: rotateZ(90deg);
	height: auto !important;
	transition: opacity ease .5s .8s,
	width 0s .8s,
	height 0s .8s;
}

.is_open .origami_face::before {
	height: 0;
	width: 0;
	opacity: 0;
	transition: opacity 0s;
}

#web .origami_face,
#illu .origami_face,
#extra .origami_face,
#about .origami_face {
	width: 100%;
	height: 100%;
}

#web.is_open .origami_face,
#illu.is_open .origami_face,
#extra.is_open .origami_face,
#about.is_open .origami_face {
	cursor: auto;
}

.origami_header {
	transition: height .8s;
}

.is_open .origami_header {
	width: 100%;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	line-height: 2rem;
	font-size: 2rem;
	font-weight: 300;
	color: var(--white);
	transition: opacity ease .5s .8s, height .8s;
}


.origami_header .origami_close {
	height: fit-content;
	border-bottom: 2px dotted var(--accent); 
	cursor: pointer;
	user-select: none;
}

.origami_header .origami_close:hover {
	color: var(--accent); 
	border-bottom: 2px dotted var(--accent); 
	cursor: pointer;
}

.origami_face .origami_label {
	height: fit-content;
	opacity: 1;
	line-height: normal;
	font-size: 2rem;
	font-weight: 400;
	color: var(--black);
	transform: rotateZ(90deg);
	height: auto !important;
	user-select: none;
}

.is_open .origami_face {
	z-index: 0;
}

.is_open .origami_face.selected {
	z-index: 20;
}

.is_open .origami_face.selectable {
	z-index: 10;
}

.is_open .origami_face .origami_label {
	opacity: 0;
	width: 0;
	height: 0;
}

.project_container {
	transition: opacity 0s;
	cursor: default;
}

.is_open .project_container {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	line-height: 1.5rem;
	overflow-y: hidden;
	transition: opacity ease .5s .8s, width 0s .8s, height 0s .8s;
}

.selected .project_container{
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: none;
}

.is_open .project_container::-webkit-scrollbar {
	display: none;
}

.is_open .project_title {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	color: var(--black);
	margin-bottom: 1.8rem;
	user-select: none;
}

.is_open .project_desc {
	font-size: 1rem;
	line-height: 1.3rem;
	margin-bottom: 1.8rem;
}

.is_open .project_container a {
	text-decoration: none;
	color: var(--black);
	/* color: #fff;
	background-color: var(--accent); */
	border-bottom: 2px dotted var(--accent); 

}

.is_open .project_container a:hover {
	color: var(--accent);
}

.is_open .project_img {
	/* border: 2px solid var(--black); */
	width: 100%;
	height: auto;
	margin-bottom: 1.8rem;
	user-select: none;
}

.is_open .project_img:last-child {
	margin: 0
}