* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


img {
    border: 0px;
    color: #000;
}

@font-face {
    font-family: "Ortica";
    src: url("../media/font/Ortica-Light.woff2");
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: "Ortica";
    font-weight: 400;
    font-size: 21pt;
    line-height: auto;
    text-transform: uppercase;
    letter-spacing: auto;
    color: #000;
}

h2 {
    font-family: "Ortica";
    font-weight: 400;
    font-size: 21pt;
    line-height: auto;
    text-transform: lowercase;
    letter-spacing: auto;
}

p {
    font-family: "Ortica";
    font-weight: 400;
    font-size: 14pt;
    text-align: justify;
    line-height: auto;
    letter-spacing: auto;
    min-height: 18pt;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

p a {
    -webkit-transition: border 100ms ease, color 100ms ease;
    -moz-transition: border 100ms ease, color 100ms ease;
    -ms-transition: border 100ms ease, color 100ms ease;
    -o-transition: border 100ms ease, color 100ms ease;
    transition: border 100ms ease, color 100ms ease;
    color: var(--accent);
}

p a:hover {
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}


body {
    --accent: fuchsia;
    height: 100vh;
}

#main {
    height: calc(100% - 36pt);
    position: relative;
}

#tipp {
    position: absolute;
    z-index: 1;
    right: -132pt;
    top: 50%;
    transform: rotate(-90deg);
}


#drawing-canvas[resize] {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100vw;
}

#buttons-pocket {
    position: absolute;
    left: 20%;
    top: 30%;
}

.button {
    position: absolute;
    border: 1px solid #000;
    border-top-left-radius: 18pt;
    height: 36pt;
    width: 180px;
    align-items: center;
    padding-bottom: 1pt;
    padding-left: 10pt;
    margin-bottom: 16pt;
    border-left: 1px solid #000;
    display: flex;
    cursor: pointer;
    -webkit-transition: border 100ms ease, color 100ms ease;
    -moz-transition: border 100ms ease, color 100ms ease;
    -ms-transition: border 100ms ease, color 100ms ease;
    -o-transition: border 100ms ease, color 100ms ease;
    transition: border 100ms ease, color 100ms ease;
}

.button:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.button:nth-of-type(1) {
    top: 30%;
    left: 18%;
}

.button:nth-of-type(2) {
    top: calc(30% + 36pt - 1px);
    left: 23%;
}

.button:nth-of-type(3) {
    top: calc(30% + (36pt - 1px) * 2);
    left: 28%;
}




.closet {
    height: 100%;
    width: 40%;
    min-width: 480px;
    border: 1px solid #000;
    background-color: white;
    border-width: 1px 0px 0px 1px;
    border-top-left-radius: 18pt;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.closet-title {
    display: flex;
    width: 52%;
    padding: 6pt 0pt 6pt 14pt;
    justify-content: space-between;
}

.closer {
    cursor: pointer;
    position: absolute;
    top: 6pt;
    right: 14pt;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    -ms-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    transition: color 100ms ease;
}

.closer:hover {
    color: var(--accent);
}


.showcase {
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 60pt);
    width: 60%;
    padding: 28pt 0% 21pt 0%;
    margin: 0 20% 0 20%;
    border-top: 1px solid black;
}

.showcase .desc {
    margin-bottom: 48pt;
}

.cover {
    border: 1px solid #000;
    margin-bottom: 36pt;
}

.cover .image {
    height: 350px;
    width: 100%px;
    background-size: cover;
    background-position: center;
}

.label {
    border-top: 1px solid #000;
    height: 36pt;
    width: 100%px;
    padding: 5pt 10pt 0 10pt;
    cursor: pointer;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    -ms-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    transition: color 100ms ease;
    text-align: justify;
}

.label h2:after {
    content: "";
    display: inline-block;
    width: 100%;
}




.label:hover {
    color: var(--accent);
}


.closet.contact .showcase {
    padding-top: 24pt;
}

.closet.contact .showcase h2 {
    margin-bottom: 6pt;
}

.closet.contact .showcase h2:not(:first-of-type) {
    margin-top: 14pt;
}

.closet.contact .showcase h2:last-of-type {
    margin-top: 48pt;
    margin-bottom: 14pt;
}

.form-label {
    display: block;
    float: none;
    text-align: left;
    width: 100%;
    font-family: "Ortica";
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 4pt;
}

.form-required {
    color: var(--accent) !important;
}

.closet input {
    font-family: "Ortica";
    height: 36pt;
    font-weight: 400;
    font-size: 21pt;
    align-items: center;
    padding: 0 10pt 1pt 10pt;
    display: flex;
}

.closet textarea {
    resize: none;
    font-family: "Ortica";
    font-weight: 400;
    font-size: 14pt;
    padding: 4pt 4pt 4pt 4pt;
    height: 200px;
}

.closet input,
.closet textarea {
    width: 100% !important;
    border: 1px solid #000 !important;
    margin-bottom: 14pt;
    background: none;
    outline: none !important;

}

.closet input::placeholder,
.closet textarea::placeholder {
    opacity: .3;
}

.closet input:invalid,
.closet textarea:invalid {
    box-shadow: 0px 0px 10px var(--accent);
}



.closet input:focus,
.closet textarea:focus {
    border-color: var(--accent) !important;
    border-width: 1px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-error-message {
    font-family: "Ortica";
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 14pt;
    color: var(--accent) !important;
}

.form-line-error {

    background: transparent !important;

}

.form-error-message img {
    display: none;
}

.closet button {
    font-family: "Ortica";
    font-weight: 400;
    font-size: 21pt;
    display: inline-block;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--accent) !important;
    -webkit-transition: border 100ms ease;
    -moz-transition: border 100ms ease;
    -ms-transition: border 100ms ease;
    -o-transition: border 100ms ease;
    transition: border 100ms ease;
    margin-bottom: 36pt;
}


.closet button:hover,
.closet button:focus {
    border-bottom: 1px solid var(--accent);
}
















#bottom-bar {
    background-color: white;
    height: 36pt;
    border-top: 1px solid #000;
    display: flex;
    box-sizing: content-box;
}


#column-left {
    width: 60%;
    align-items: center;
    padding: 0 14pt 0 14pt;
    display: flex;
    justify-content: space-between;
}

#column-left a:not(:first-of-type) {
    cursor: unset;
}

#column-left a:nth-of-type(1) h1 {
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    -ms-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    transition: color 100ms ease;
}

#column-left a:nth-of-type(1) h1:hover {
    color: var(--accent);
}


#column-left a:nth-of-type(1) h1:before {
    content: "luca bessi aristei";
}

#column-left a:nth-of-type(3) h1:before {
    content: "visual communicator";
}

@media only screen and (max-width:1180px) {

    #column-left a:nth-of-type(3) h1:before {
        content: "v. communicator";
    }

}

@media only screen and (max-width:1090px) {

    #column-left a:nth-of-type(1) h1:before {
        content: "luca b a";
    }

}

@media only screen and (max-width:960px) {

    #column-left a:not(:first-of-type) h1 {
        display: none;
    }

}

#column-right {
    width: 40%;
    min-width: 480px;
    align-items: center;
    padding: 0 14pt 0 14pt;
    border-left: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

#column-right h1 {
    padding-bottom: 1px;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    -ms-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    transition: color 100ms ease;
}

#column-right h1:hover {
    color: var(--accent);

}

.hide {
    display: none;
}