#web.box_container {
	width: 3rem;
	height: 7rem;
}

#illu.box_container {
	width: 3rem;
	height: 12.5rem;
}


#web .box {
	transform: translateX(-10vw) rotateX(-10deg) rotateY(40deg) rotateZ(-100deg);
}

#illu .box {
	transform: translateX(5vw) rotateX(30deg) rotateY(20deg) rotateZ(-160deg);
}

#web.open .box{
	transform: translateZ(-32vw);
}

#illu.open .box  {
	transform: translateZ(-39vw);
}


#web .box_face {
	width: 3rem;
	height: 7rem;
}

#illu .box_face {
	width: 3rem;
	height: 12.5rem;
}


#web.open .box_face:nth-child(1) {
	transform: rotateY(0deg) translateZ(32vw);
}

#web.open .box_face:nth-child(2) {
	transform: rotateY(72deg) translateZ(32vw);
}

#web.open .box_face:nth-child(3) {
	transform: rotateY(144deg) translateZ(32vw);
}

#web.open .box_face:nth-child(4) {
	transform: rotateY(216deg) translateZ(32vw);
}

#web.open .box_face:nth-child(5) {
	transform: rotateY(288deg) translateZ(32vw);
}

#web .box_face:nth-child(1) {
	transform: rotateY(0deg) translateZ(2.03rem);
}

#web .box_face:nth-child(2) {
	transform: rotateY(72deg) translateZ(2.03rem);
}

#web .box_face:nth-child(3) {
	transform: rotateY(144deg) translateZ(2.03rem);
}

#web .box_face:nth-child(4) {
	transform: rotateY(216deg) translateZ(2.03rem);
}

#web .box_face:nth-child(5) {
	transform: rotateY(288deg) translateZ(2.03rem);
}




#illu.open .box_face:nth-child(1) {
	transform: rotateY(0deg) translateZ(39vw);
}

#illu.open .box_face:nth-child(2) {
	transform: rotateY(60deg) translateZ(39vw);
}

#illu.open .box_face:nth-child(3) {
	transform: rotateY(120deg) translateZ(39vw);
}

#illu.open .box_face:nth-child(4) {
	transform: rotateY(180deg) translateZ(39vw);
}

#illu.open .box_face:nth-child(5) {
	transform: rotateY(240deg) translateZ(39vw);
}

#illu.open .box_face:nth-child(6) {
	transform: rotateY(300deg) translateZ(39vw);
}

#illu .box_face:nth-child(1) {
	transform: rotateY(0deg) translateZ(2.5rem);
}

#illu .box_face:nth-child(2) {
	transform: rotateY(60deg) translateZ(2.5rem);
}

#illu .box_face:nth-child(3) {
	transform: rotateY(120deg) translateZ(2.5rem);
}

#illu .box_face:nth-child(4) {
	transform: rotateY(180deg) translateZ(2.5rem);
}

#illu .box_face:nth-child(5) {
	transform: rotateY(240deg) translateZ(2.5rem);
}

#illu .box_face:nth-child(6) {
	transform: rotateY(300deg) translateZ(2.5rem);
}